@{
    ViewData["Title"] = "Create New Task";
}
@using ItransitionCourse.Models.Entity
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model ItransitionCourse.Models.Entity.TaskEntity
<h1>@ViewData["Title"]</h1>

<form method="post">
    @{ if (ViewBag.Admin)
        { <input asp-for="UserId" type="hidden" value="@ViewBag.UserId" />}
    }
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TaskText"></label>
        <textarea asp-for="TaskText" class="form-control"></textarea>
        <span asp-validation-for="TaskText" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Theme"></label>
        <select asp-for="Theme" asp-items="@ViewBag.Themes" class="form-control"></select>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group row g-3">
        <div class=" col-sm-3">
            <label asp-for="Answer1"></label>
            <input asp-for="Answer1" class="form-control" />
            <span asp-validation-for="Answer1" class="text-danger"></span>
        </div>

        <div class=" col-sm-3">
            <label asp-for="Answer2"></label>
            <input asp-for="Answer2" class="form-control" />
            <span asp-validation-for="Answer2" class="text-danger"></span>
        </div>

        <div class=" col-sm-3">
            <label asp-for="Answer3"></label>
            <input asp-for="Answer3" class="form-control" />
            <span asp-validation-for="Answer3" class="text-danger"></span>
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-12" id="dropzone">

            <div action="/home/Upload" class="dropzone" id="uploader">

                Drop files here or click to upload.<br>

            </div>

        </div>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
